/*--AJUSTES GENERALES--*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --colorFondo: rgb(232, 49, 49);
    --color1: #ffffff;
    --color2: #cfcfcf;
    --color3: #000000;
   
}

/*--FINAL DE AJUSTES GENERALES--*/  

/*--COMIENZO DEL ENCABEZADO--*/

header{
background-color: var(--colorFondo);
max-width: 100%;
height: 4em;
}

header li{
list-style: none;
display: flex;
justify-content: center;
}

header li a{
color: var(--color1);
text-decoration: none;
margin-left: 1em;
margin-right: 1em;
margin-top: 1em;

}
/*--FINAL DEL ENCABEZADO--*/

/*--COMIENZO DEL CONTENIDO*/ 

.primercont{
background-color: var(--color2);
max-width: 100%;
height: 100vh;
background-image: url(https://www.openarms.es/uploads/quienes_somos/bloque1.jpg);
background-size: cover;
background-repeat: no-repeat;

}


.primercont h1{
margin-left: 7em;
margin-top: 5em;
font-size: 3em;
width: 10em;
color: var(--color1);
}

.somos {
max-width: 100%;
height: 20em;
background-color: var(--color2);
justify-content: center;
}

.somos h1 {
width: 50%;
text-align: center;
margin-left: 13em;
padding-top: 0.5em;
color: var(--colorFondo);
}

.somos p {
width: 50%;
margin-left: 30em;
padding-top: 0.5em;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}


