/*--AJUSTES GENERALES--*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --colorFondo: rgb(232, 49, 49);
    --color1: #ffffff;
    --color2: #e0e0e0;
    --color3: #000000;
   
}

/*--FINAL DE AJUSTES GENERALES--*/  

/*--COMIENZO DEL HEADER--*/


#texto {
background-color: var(--color3);
width: 100%;
height: 3em;
position: fixed;
}

#texto p {
text-decoration: underline;
}

header p {
padding-top: 0.5em;
text-align: center;
color: var(--color1);
}

#texto ul {
width: 100%;
height: 4em;
align-content: center;
background-color: var(--colorFondo);
justify-content: space-around;
}



.nav-link {
color: var(--color1);
}

.nav-link:hover {
color: var(--color3);
}

header img {
width: 100%;
}

/*--FINAL DEL HEADER--*/

/*--COMIENZO DE IMAGEN CABEZERA--*/

#contenedor {
width: 100%;
text-align: center;
}



#contenedor img {
width: 100%;
height: 100%;
}


/*--FINAL DE IMAGEN CABEZERA--*/

/*--TEXTO INICIO SOMOS--*/

#conjuntosomos{
margin-top: 1em;
width: 70%;
margin-left: 1em;
}


#textojunt1{
justify-content: center;
padding-top:0.5em;
width: 100%;
height: 21em;
display: flex;
margin-top: 1em;
}

.imagentext1 {
display: flex;

}

.imagentext1 figure {
width: 30em;
justify-content: center;
}


#textojunt2{
justify-content: center;
padding-top:0.5em;
width: 100%;
height: 21em;
display: flex;
margin-top: 1em;
}
    
.imagentext1 {
display: flex;
}
    
.imagentext1 figure {
width: 30em;
justify-content: center;
}


#textojunt3{
justify-content: center;
padding-top:0.5em;
width: 100%;
height: 21em;
display: flex;
margin-top: 1em;
}
        
.imagentext1 {
display: flex;
}
        
.imagentext1 figure {
width: 30em;
justify-content: center;
}
        
.solotext {
width: 50em;
display: flex;
flex-direction: column;
margin-left: 2em;
margin-right: 2em;
}

.solotext h1{
color: var(--colorFondo);
font-family:Verdana, Geneva, Tahoma, sans-serif;
margin-bottom: 0.5em;
}



/*--TEXTO FINAL SOMOS--*/

/*--COMIENZO CARD SOMOS--*/

#contentstyle {
padding-top: 2em;
display: flex;
width: 100%;
height: 40em;
justify-content: space-around;
align-items: center;
}

#contentstyle .info {
background-color: var(--color2); 
border-radius: 2%;  
height: 35em;
}

#contentstyle .info img {
border-radius: 2%;
}

#contentstyle .info h2 {
padding-left: 0.5em;
width: 12em;
margin-top: 0.5em;
margin-bottom: 1em;
}

#contentstyle .info p {
    padding-left: 1em;
    width: 21em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    }




#contentsecond {
display: flex;
width: 100%;
height: 60em;
justify-content: space-around;
align-items: center;
}

#contentsecond .info img {
    border-radius: 2%;
}

#contentsecond .info {
background-color: var(--color2);
border-radius: 2%; 
height: 37em;    
}

#contentsecond .info h2 {
padding-left: 0.5em;
width: 12em;
margin-top: 0.5em;
margin-bottom: 1em;
}
    
#contentsecond .info p {
padding-left: 1em;
width: 21em;
margin-top: 0.5em;
margin-bottom: 1em;
}



    
/*--FINAL CARD SOMOS--*/


/*--COMIENZO DE LAS COLUMNAS--*/

#bloques {
display: flex;
justify-content: center;
width: 100%;
height: 30%;
}

.info {
margin-right: 1em;
margin-left: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

/*--FINAL DE LAS COLUMNAS--*/   

/*--COMIENZO DE LA SECCIÓN BOTÓN--*/

.buttonimg {
max-width: 30%;
margin-bottom: 1em;
}
    
.popup {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
z-index: 1000;
}
    
.popup-contenido {
max-width: 100%;
height: 100%;
display: flex;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
    
#mostrar-popup1 {
color:var(--color3);
width: 50%;
height: 3em;
border-radius: 1em;
border: none;
}
    
#cerrar-popup1 {
margin-top: 2em;
margin-top: 10px;
color:var(--color3);
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

    
/*--FINAL DE LA SECCIÓN BOTÓN--*/

/*--COMIENZO DEL FOOTER--*/

footer {
width: 100%;
height: 13em;
align-content: center;
background-color: var(--colorFondo);
}

footer p {
color: var(--color1);
margin-left: 2em;
margin-right: 2em;
padding-top: 0.5em;
padding-bottom: 0.5em;
}



/*--FINAL DEL FOOTER--*/
